{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.requests|length %}

        {% set icon %}
            <span class="sf-toolbar-value">
                <i class="fa fa-vector-square"></i> &nbsp;{{ collector.requests|length }}
            </span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
            <span class="sf-toolbar-header">
                <b class="sf-toolbar-ajax-info">API calls</b>
            </span>
            </div>
            <div class="sf-toolbar-info-piece">
                <table class="sf-toolbar-ajax-requests">
                    <thead>
                    <tr>
                        <th>URL</th>
                        <th>Method</th>
                        <th>Cached</th>
                    </tr>
                    </thead>
                    <tbody class="sf-toolbar-ajax-request-list">
                    {% for request in collector.requests %}
                        <tr>
                            <td>
                                {% if request.filters %}
                                    <abbr title="{{ request.filters|url_encode }}">
                                        {{ request.url }}
                                    </abbr>
                                {% else %}
                                    <div>
                                        {{ request.url|u.truncate(60, '...') }}
                                    </div>
                                {% endif %}

                            </td>
                            <td>
                                {{ request.method }}
                            </td>
                            <td>
                                {% if request.cached %}
                                    <i class="fa fa-check" style="float: right; color: green"></i>
                                {% else %}
                                    <i class="fa fa-times" style="float: right; color: red"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}

    {% endif %}
{% endblock %}
