{% block lml_sdk_calender_widget %}
    <div class="lml-calendar-widget"
            {{ stimulus_controller('@londonmedicallaboratory/api-sdk/calendar', {
                calendarUrl: form.vars.calendar_url,
                dailySlotsUrl: form.vars.daily_slots_url,
                formElementId: form.vars.id,
                autoOpen: form.vars.auto_open,
                closeOnSelect: form.vars.close_on_select
            }) }}>

        <div class="lml-selected-time">
            <span {{ stimulus_target('@londonmedicallaboratory/api-sdk/calendar', 'prettyTime') }}>
                {{ form.vars.pretty_time }}
            </span>
        </div>

        {% if form.vars.close_on_select %}
            <button {{ stimulus_action('@londonmedicallaboratory/api-sdk/calendar', 'selectDate') }} type="button">
                {{ form.vars.pretty_time ? 'Change' : 'Set' }}
            </button>
        {% endif %}

        {# These are needed for flapickr; it has a "feature" that always updates the widget as soon as it is instanced #}
        <div style="display: none">
            {{ form_widget(form) }}
            <input type="text" {{ stimulus_target('@londonmedicallaboratory/api-sdk/calendar', 'altTime') }} value="{{ form.vars.formatted_time }}">
        </div>

        {{ block('dialog', _self) }}

    </div>
{% endblock %}

{# Allow end-users to customize the looks of dialog box #}
{% block dialog %}
    <div {{ stimulus_target('@londonmedicallaboratory/api-sdk/calendar', 'dialog') }} class="lml-calendar-widget-dialog hidden">
        <div class="lml-calendar-widget-dialog-content">
            <span class="lml-calendar-widget-dialog-close" {{ stimulus_action('@londonmedicallaboratory/api-sdk/calendar', 'close', 'click') }}></span>
            <div class="lml-calendar-display" {{ stimulus_target('@londonmedicallaboratory/api-sdk/calendar', 'calendar') }}></div>

            <div class="lml-time-slots" {{ stimulus_target('@londonmedicallaboratory/api-sdk/calendar', 'slots') }}>
                {# Keep these if more params are needed; easier to generate them with Symfony than poking with JS
            <div class="slots">
                {% for i in range(1, 30) %}
                    <span class="slot not-available" {{ stimulus_action('@londonmedicallaboratory/api-sdk/calendar', 'selectSlot', 'click', {time: '09:00', available: false, human_readable_format: 'asd'}) }}>{{ i }}</span>
                {% endfor %}
            </div>
                #}
            </div>
            </div>
        </div>
    </div>
{% endblock %}
